<% unless current_user.user_group.delegado? %> 
  <h1>Listando Perícias</h1>
  
  <table class="ui teal table">
    <thead>
      <tr>
        <th>Pessoa</th>
        <th>Agente Expedidor </th>
        <th>Orgão Expedidor</th>
        <th colspan="4"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @resquest_criminals.each do |resquest_criminal| %>
        <tr>
          <td><%= resquest_criminal.person.name %></td>
          <td><%= resquest_criminal.user.name %></td>
          <td><%= resquest_criminal.district_resquest.name %></td>
          <td><%= link_to 'Escolher para laudo', new_resquest_criminal_report_path(resquest_criminal), class: 'ui tiny positive button' %></td>
          <td><%# link_to 'Editar', edit_report_path(report), class: 'ui tiny blue basic button' %></td>
          <td><p><%# link_to 'Ver imagens', images_for_report_index_path(devic: report.id), class: 'ui tiny green basic button' %></p></td>
          <td><%# link_to 'Excluir', report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui tiny red basic button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h1>Meus laudos</h1>
  
  <table class="ui blue table">
    <thead>
      <tr>
        <th>Pessoa</th>
        <th>Agente Expedidor </th>
        <th>Orgão Expedidor</th>
        <th colspan="4"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.resquest_criminal.person.name %></td>
          <td><%= report.resquest_criminal.user.name %></td>
          <td><%= report.resquest_criminal.district_resquest.name %></td>
          <td><%= link_to 'Editar', edit_resquest_criminal_report_path(report.resquest_criminal,report), class: 'ui tiny blue basic button' %></td>
          <td><%= link_to 'Detalhes', resquest_criminal_report_path(report.resquest_criminal,report), class: 'ui tiny blue basic button' %></td>
          <td><p><%# link_to 'Ver imagens', images_for_report_index_path(devic: report.id), class: 'ui tiny green basic button' %></p></td>
          <td><%# link_to 'Excluir', report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui tiny red basic button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<h1>Todos  laudos</h1>

<table class="ui orange table">
  <thead>
    <tr>
      <th>Pessoa</th>
      <th>Agente Expedidor </th>
      <th>Orgão Expedidor</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_reports.each do |report| %>
      <tr>
        <td><%= report.resquest_criminal.person.name %></td>
        <td><%= report.resquest_criminal.user.name %></td>
        <td><%= report.resquest_criminal.district_resquest.name %></td>
        <td><%# link_to 'Editar', edit_resquest_criminal_report_path(report.resquest_criminal,report), class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Detalhes', resquest_criminal_report_path(report.resquest_criminal,report), class: 'ui tiny blue basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>