<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<table>
  <thead>
    <tr>
      <th> ID </th>
      <th>Resquest criminal ID</th>
      <th>Perito User Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.resquest_criminal.id %></td>
        <td><%= report.user.name %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>


            <!--<p> <a href="http://localhost:3000/devices_for_category/index/" style="color:black;"> Ver objetos </a> </p>-->
            <p><%= link_to("Ver imagens", images_for_report_index_path(devic: report.id)) %></p>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
