<p id="notice"><%= notice %></p>

<p>
  <strong>ID Resquest criminal:</strong>
  <%= @report.resquest_criminal.id %>
</p>

<p>
  <strong>Name User:</strong>
  <%= @report.user.name %>
</p>

<%= link_to 'Edit', edit_report_path(@report), class: 'ui tiny blue basic button' %> |
<%= link_to 'Back', reports_path, class: 'ui tiny blue basic button' %>
