<p id="notice"><%= notice %></p>

<h1>Listing Image Reports</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_reports.each do |image_report| %>
      <tr>
        <td><%= image_report.description %></td>
        <td><%= link_to 'Show', image_report %></td>
        <td><%= link_to 'Edit', edit_image_report_path(image_report) %></td>
        <td><%= link_to 'Destroy', image_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image report', new_image_report_path %>
