<div class='show'>
  <div>
      
      <div class="ui icon input">
        <%= link_to  new_person_path, class: 'ui teal button' do %>
          <i class='add icon'></i>Pessoa
        <% end %>
        <div class="ui left icon action input">
          <i class="search icon"></i>
          <input placeholder="Pesquisar" type="text">
          <div class="ui blue submit button">Procurar</div>
        </div>
        
  </div>
  
  <h1 class"ui header">Lista de pessoas</h1>
  <table class='ui orange table '>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cpf</th>
        <th>Phone</th>
        <th>Cell phone</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td>
            <h4 class="ui image header">
              <%= image_tag(person.photo_url(:thumb), class: 'ui rounded image perfil') if person.photo? %>
              <div class="content">
                <%= person.name %>
                <div class="sub header">
                  <%= person.gender %>
                </div>
              </div>
            </h4>
          </td>
          <td><%= person.cpf %></td>
          <td><%= person.phone %></td>
          <td><%= person.cell_phone %></td>
          <td><%= link_to 'Show', person, class: 'ui tiny blue basic button' %></td>
          <td><%= link_to 'Editar', edit_person_path(person), class: 'ui tiny blue basic button' %></td>
          <td><%= link_to 'Excluir', person, method: :delete, class: 'ui tiny basic red button', data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
</div>
