
<br>

<h1 class"ui header">Lista de permissão de grupo</h1>

  <%= search_form_for @q do |f| %>
          <div class="ui icon action input">
            <i class="search icon"></i>
            <%= f.search_field :user_group_description_cont, placeholder: 'Nome do Perito' do %>
            <%# Pesquisa que passa pela tabela User para conseguir o nome do Perito %>
            <% end %>
            <%= f.submit 'Procurar', class:'ui blue submit button' %>
          </div>
  <% end %>

  <table class='ui blue table '>
  <thead>
    <tr>
      <th>Grupo de Usuário</th>
      <th>Módulo</th>
      <th>Permissão</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_permissions.each do |group_permission| %>
      <tr>
        <td><%= group_permission.user_group.function %></td>
        <td><%= group_permission.segment.name %></td>
        <td><%= group_permission.permission.name %></td>
        <td><%= link_to 'Detalhes', group_permission, class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Editar', edit_group_permission_path(group_permission), class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Excluir', group_permission, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui tiny red basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @people, :semantic => true, renderer: WillPaginateSemanticUi::ActionView::Renderer %>

<br>
<br>

<%= link_to 'Novo grupo de permissão', new_group_permission_path, class: 'ui primary button' %>
