<h1 class"ui header">Lista de permissões</h1>
  <table class='ui orange table '>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.name %></td>
        <td><%= permission.description %></td>
        <td><%= link_to 'Detalhes', permission, class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Editar', edit_permission_path(permission), class: 'ui tiny blue basic button' %></td>
        <td><%= link_to 'Excluir', permission, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui tiny red basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova permissão', new_permission_path, class: 'ui teal button' %>
