<%= form_for(@resquest_criminal) do |f| %>
  <% if @resquest_criminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resquest_criminal.errors.count, "error") %> prohibited this resquest_criminal from being saved:</h2>

      <ul>
      <% @resquest_criminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :district_resquest %><br>
    <%= f.number_field :district_resquest %>
  </div>
  <div class="field">
    <%= f.label :district_send %><br>
    <%= f.number_field :district_send %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
