<p id="notice"><%= notice %></p>

<h1>Listing Resquest Criminals</h1>

<table>
  <thead>
    <tr>
      <th>District resquest</th>
      <th>District send</th>
      <th>User</th>
      <th>Type</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resquest_criminals.each do |resquest_criminal| %>
      <tr>
        <td><%= resquest_criminal.district_resquest %></td>
        <td><%= resquest_criminal.district_send %></td>
        <td><%= resquest_criminal.user %></td>
        <td><%= resquest_criminal.type %></td>
        <td><%= resquest_criminal.person %></td>
        <td><%= link_to 'Show', resquest_criminal %></td>
        <td><%= link_to 'Edit', edit_resquest_criminal_path(resquest_criminal) %></td>
        <td><%= link_to 'Destroy', resquest_criminal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resquest criminal', new_resquest_criminal_path %>
