<div class='ui padded center aligned teal  segment show'>
<p>
  <strong>Orgão resquisitor:</strong>
  <%= @resquest_criminal.district_resquest.name %>
</p>

<p>
  <strong>Orgão receptor:</strong>
  <%= @resquest_criminal.district_send.name %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @resquest_criminal.user.name %>
</p>

<p>
  <strong>Tipo de requisição:</strong>
  <%= @resquest_criminal.resquest_type %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @resquest_criminal.person.name %>
</p>

<%= link_to 'Editar', edit_resquest_criminal_path(@resquest_criminal), class: 'ui button' %> 
<%= link_to 'Voltar', resquest_criminals_path, class: 'ui button' %>
