<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @segment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @segment.description %>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
