<h1 class"ui header">Lista de usuários</h1>
<table class='ui orange table'>
    <thead>
        <tr>
            <th>Classe</th>
            <th>Indentificador</th>
            <th>Ação</th>
            <th>Dados</th>
            <th>Data</th>
            <th>Endereço</th>
        </tr>
    <thead>
    <tbody>
        <% @audited.each do |audited_data| %>
        <tr>
            <td><%= audited_data.auditable_type %></td>
            <td><%= audited_data.auditable_id %></td>
            <td><%= audited_data.action %></td>
            <td><%= audited_data.audited_changes %></td>
            <td><%= l(audited_data.created_at) %></td>
            <td><%= audited_data.remote_address %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', auditor_index_path, class: 'ui tiny blue basic button' %>